.navbar-centrado{
    position: absolute;
    top: 20%;
    left: 50%;
    height: 500px;
    color: brown;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  h1 {
    text-align: center;
    font-size: 3rem;
  }
  
  h2 {
    text-align: center;
  }